.Points-container {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Points-container .heading {
    font-size: 40px;
    font-weight: 700;
}

.Points-container .image {
    background: url('/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 200px;
    aspect-ratio: 1/1;
    width: 90vw;
}

.Points-container .Points {
    font-weight: 700;
    width: 90vw;
    text-align: center;
}

.Points-container button {
    background-color: #ffd623;
    max-width: 300px;
    width: 90vw;
    border: 1px solid #050714;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.Points-container button:hover {
    background-color: #debb1e;
}