.tic-tac-toe-game-container {
    max-height: calc(100vh - 70px);
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.tic-tac-toe-game-container .result-container {
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: #00000063;
    position: fixed;
    top: 70px;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tic-tac-toe-game-container .result-container.active {
    opacity: 1;
    pointer-events: painted;
}

.tic-tac-toe-game-container .result-container .result {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 20px;
    transform: scale(0.7);
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tic-tac-toe-game-container .result-container.active .result {
    transform: scale(1);

}

.tic-tac-toe-game-container .result-container .result .Win-lose {
    text-align: center;
    color: #ffe39a;
    font-size: 50px;
    font-weight: 700;
}

.tic-tac-toe-game-container .result-container .result .Gems-gained {
    color: #e7a842;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.tic-tac-toe-game-container .result-container .result .buttons {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.tic-tac-toe-game-container .result-container .result .buttons .button {
    width: calc(50% - 10px);
    background-color: #ecc46c;
    font-size: 19px;
    font-weight: 700;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tic-tac-toe-game-container .result-container .result .buttons .button,
.tic-tac-toe-game-container .result-container .result .buttons button {
    cursor: pointer;
}

.tic-tac-toe-game-container .result-container .result .buttons .button:hover {
    background-color: #cba85c;
}

.tic-tac-toe-game-container .tictactoe-board-container {
    flex: 1;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    opacity: 1;
    position: relative;
    gap: 5px;
    margin-top: 10px;
    width: 380px;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board #strike {
    position: absolute;
    height: 5px;
    background: red;
    border-radius: 50px;
    width: 0%;
    top: 0;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .cell img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    pointer-events: none;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line {
    background-color: #000;
    border-radius: 5px;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line1,
.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line2 {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line1 {
    top: 33%;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line2 {
    top: 67%;
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line3,
.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line4 {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line3 {
    left: 33%;

}

.tic-tac-toe-game-container .tictactoe-board-container .tictactoe-board .lines-container .line4 {
    left: 67%;
}